/* a_16_display.css */

@charset "UTF-8";

body,h1,h2,ul {
  margin:0; padding:0;
}

ul,li{list-style: none;}

#wrap {width:900px; height:auto;
  margin:auto; padding:10px;
background-color: #eee;}

.part {
  width:95%; height:auto;
  margin:auto; margin-bottom : 20px;
  background-color: rgb(251, 252, 205);
}

.exam {width: 100%; height : auto;}

li {
  float : left;
  width:100px; height:100px;
  padding : 10px; box-sizing: border-box;
  font-size:1.2rem; font-weight:bold;
  background-color : rgb(110, 158, 190);
  background-image : linear-gradient(45deg, #daa, #fc7)
}

ul:after,
ul::after {
  content:""; display : block; width :100%; height:auto;clear: both;}

li>a {display:block; width : 100%; height:100%;}
.block {display:block;}
.none { display:none;} 

.visible {visibility: visible;}
.hidden {visibility: hidden;}

.opacity_1 {opacity: 1;}
.opacity_5 {opacity: 0.44;}
.opacity_0 {opacity: 0;}


.transparent {background-image:none; background-color: transparent;}
/* .transparent>a {color: inherit;} */
.alpha_01 {background-image: none; background-color: #adf4;}
.alpha_02 {background-image: none; background-color: rgba(180, 147, 245, 0.5);}
.alpha_03 {background-image: none; background-color: hsla(90,90%,50%,0.3);}

.alpha_01>a {background-color: rgba(255,0,50,0.5);} 
.alpha_02>a {background-color: rgba(255,0,50,0.5);}
.alpha_03>a {background-color: rgba(255,0,50,0.5);}



/* 
cmyk -> #adf4 = #aaddff40 : 투명도 40%
rgba(red, green, blue, transparency) -- 각 자리마다 0~255 사이 숫자 입력
hsla(hue(0-360, 색상환 이용), saturation(0-100%), light(0-100%), transparency)
*/