/* e_01_form_basic.css */

form {
  width: 100%; height: auto; min-height: 200px; background-color: #fff;
}

button {
  padding: 0.3rem 2rem;
  background-color: #adf;
  border: 1px solid #aaa;
}

.select_list ol, 
.select_list ul { float:left;}