/* e_02_form_type_attr.css */

form {
  width: 100%; height: auto;
  padding: 1rem; box-sizing: border-box;
  background-color: #fff;
}

fieldset {
  margin-bottom: 2rem;
}

legend {
  line-height:130%; padding : 1rem;
}

fieldset > div {
  width: 100%; height: auto; 
  margin-bottom:1rem; padding:10px; box-sizing: border-box;
  border-bottom: 3px solid #adf;
}
.input_text {width: 500px; height: 30px; text-indent: 0.5rem;}

.usr_id {font-weight: bold;}

#usrId::placeholder,
#usrPw::placeholder {color : #f00; font-weight: 700;}

.img_btn {height: 20px;}

textarea {width: 500px;height: 100px;
  resize:both; /*both // vertical // horizontal // none */
  font-size: 2rem; }

select {width: 300px; height: auto; font-size: 1.5rem; color:#07a;
text-indent: 0.5rem;}

option:nth-child(1) {background-color: #add;}
option:nth-child(2) {background-color: #f77; font-size:1.5rem;color:#fff;}

button {
  border : 1px solid #3aa;
  padding:0.2rem 1rem;
  border-radius: 0.2rem;
  background-color: #ddd;
  cursor : pointer;
}

/* label: inline-요소; input : inline-block 요소 */
/* text-indent : 들여쓰기 */
/* placeholder : input 안에 내용이 없을 때 임시로 들어갈 내용 */
/* textarea는 박스사이즈 변경이 가능하기 때문에 값 고정하려면 resize : none */
/* option은 color와 font-size 변경 가능, size 변경 불가 */
/* mac과 windows에 따라서 사이즈, 세부내용이 좀 다르기 때문에 그런 것도 생각해서 마진, 패딩 등 넉넉하게 설정 */