@media screen and (min-width:90rem) {
  /* 기준 디바이스 크기 : 90rem  */

/* #newBox 
  ==========================================  */
#newBox {  
  height:43.75rem;
  padding-top: 4.0625rem; padding-bottom: 4.375rem;
}
.area_title { width:58.75rem; }
}