/* main_page/a_base.css */

@media screen {
  #wrap {
    width: 100%;
    min-width:320px;
    height:auto; min-height:1000px;
    margin:auto; padding-top:0;
  }

/* #headBox __________________________________________ */
  #headBox { 
    position: fixed; top: 0; left:0; z-index:1500;
    width: 100%; height:auto; box-sizing: border-box;
    /* padding:1.25rem 3.125rem 0.625rem;  */
    background-color: #fff;
    background-color: var(--white); }

    .area_head {
      width: 100%; max-width:1440px;
      height: auto;
      margin:auto;
    }

    #logo { float:left; }
      #logo> a {
        background-image: url("../../img/headBox/osam_logo.png");
        background-image: url("../../img/headBox/osam_logo.svg");
        background-size: contain;
        /* background-repeat: no-repeat;
        background-position: 50% 50%; */
      }
    
  .nav_btn {display:none;}
  .nav_btn > button {
    width: 100%; height: 100%;
    background-image: url("../../img/headBox/navBox/menu_btn.png");
    background-image: url("../../img/headBox/navBox/menu_btn.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  #navBox { 
    float:right; width: 540px; height:auto; /* height: 70px; */
    /* background-color: #777; */
    }
    .unb {
      float:right; width: 270px; height:26px; 
      margin-bottom: 10px;
      /* background-color: #fff; */
    }  
   
    .gnb {
      float:right; width:auto; min-width: 510px; height:34px;
      /* background-color: #ffa; */
    }
  
    .unb ul, 
    .gnb ul { width: 100%; height: auto; box-sizing: border-box;}
  
    .unb ul { padding:3px 5px; }
    .unb li {
      float:left; width:50px; height:20px;
      margin-left:20px;    
      /* background-color: #0cc; */
    }
    .unb li:nth-child(1) { float:right; }
    .unb li:nth-child(2) { margin-left: 0; }
    
    .unb a { 
      display: block; width: 100%; height: 100%; 
      word-spacing:-3px; text-transform:capitalize;
      color:#505050; font-size:0.75rem; text-align: center;
      }
    
    .gnb ul {float:right; width:auto; padding:4px 5px;}
    .gnb li {
      float:left; width:auto; height:25px;
      /* margin-left:14px; */
      padding:0 7px; border-right:1px solid #aaa;
      text-align: center;
    }
    /* .gnb li:last-child {border:0; padding-right: 0;} */
    /* .gnb li:first-child {padding-left: 0;} */
    
    .gnb a {
      padding:5px 10px;
      line-height: 25px;
      font-size:1rem; color:#171717;
      font-weight: 700;
      text-transform:capitalize;
      word-spacing:-5px;
    }

    .first_margin li:first-child { margin-left:0;}


  /* #slideBox __________________________________________ */
#slideBox   { 
  position: relative;
  width: 100%; height: 100vh;
   box-sizing: border-box;
  background-color: #aaa; }  


  /* #newBox ____________________________________________  */
  #newBox { 
    position: relative; 
    width: 100%; 
    box-sizing: border-box;
    overflow-x:hidden;
  }

  .area_title{
    width:100%; height:4.375rem; 
    margin:auto; padding-top: 0.625rem; box-sizing: border-box;
    font-size:2.5rem; 
  }

  .area_indicator{
    position: absolute; bottom:4.375rem; left:0; right:0;
    width:8.75rem; height:1.875rem; 
    margin:auto;
    background-color:#ccc;
  }
  .area_indicator ul { width: 100%; height: 100%; }
  
  .area_indicator li {
    float:left; width: 1.875rem; height: 1.875rem; 
    margin-left:1.5625rem;
  }
  
  .area_indicator a {
    border-radius:100%;
    background-color: #c4c4c4;
    box-sizing: border-box;
  }

  .area_indicator li.act a {background-color: #1A5D54;}
  
  .area_indicator li a:focus {border : 2px solid rgba(23,23,23,1);}
  .area_indicator li a:hover {background-color:rgba(85, 85, 85, 0.3);}

  .newBox_area {
    width:940px; height:370px; 
    overflow:hidden;
    margin:0; margin-top:48px;
    position : relative; left:50%; transform:translateX(-50%);
  }

  #newBox .area_content::before {
    content:""; display:block; z-index:500;
    position:absolute; top:0; left:0; right:0; margin:auto;
    width: 10px; height: 100%;
    background-color: #fff;}

    .newBox_area ul { width: 200%; height: auto;}
    .newBox_area li { float:left; width:300px; height:370px; margin-left:20px;}


  .newBox_area li:nth-child(1) a {background-image: url("../../img/main_page/new_product_01.png");}
  .newBox_area li:nth-child(2) a {background-image: url("../../img/main_page/new_product_02.png");}
  .newBox_area li:nth-child(3) a {background-image: url("../../img/main_page/new_product_03.png");}

  /* #subBox ____________________________________________  */
#subBox     { 
  position: relative;
  width: 100%; box-sizing: border-box;
  /* padding-top:50px; ; */
  /* background-color: #aaa;  */
  background-color: #ffbd55; 
}
#subBox > .area {
  position: absolute; bottom: 0; left:0; right:0;
  height: 300px; 
  margin:auto;
  }

  .sub_area {
    position: absolute; 
    bottom:50px;
    height:auto;
  }

  .sub_area h2 {
    width: 100%; height: 60px; 
    margin-bottom: 15px;
    font-size: 40px; color:#333; line-height: 60px;
    text-transform: capitalize;}
  .sub_area p {
    width: 100%; height:auto;
    margin-bottom: 25px;
    font-size: 18px;
    color:#505050;
  }
  .sub_area_btn {  width: 100%; height: 45px; }
  .sub_area_btn a {
    float:left; height: 100%; 
    border-radius:8px; 
    font-size:22px; text-align: center; line-height:45px;
  }
  .sub_area_btn a:nth-child(1) {
    width: 160px; margin-right: 30px;
    color:#fff; 
    background-color: #1A5D54; }
  .sub_area_btn a:nth-child(2) {
    width: 110px; color:#1A5D54;
    background-color: #fff;
  }


  .sub_area_img {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  
/* #bestBox ____________________________________________  */
#bestBox { 
  width: 100%; padding-top:175px; box-sizing: border-box;
background-color: #fff;}

/* #galleryBox ____________________________________________  */
#galleryBox {   
  width: 100%; height: 750px; 
  paddin-top:75px; box-sizing: border-box;
  background-color: rgba(255, 189, 85, 0.2);
}

/* #sponsorBox ____________________________________________  */
#sponsorBox { 
  width: 100%; height: 100px;
  /* padding:0.625rem 0; box-sizing: border-box; */
  background-color: #999; 
}

/* #footBox ____________________________________________  */
#footBox    { 
  width: 100%;
  padding-top: 68px; box-sizing: border-box;
  background-color: #333; }
}

} /* media screen */