/* main_page/b_smartphone.css */

@media screen and (max-width:599px) {
  /* 기준 디바이스 크기 : 320px */
  body {background-color: #eee;}
#wrap {min-height:100vh;}

/* #headBox __________________________________________ */
  #headBox { height : 3.125rem; padding:0.5rem 0.625rem;}
  #headBox > * {display: none;}


  /* #slideBox __________________________________________ */
#slideBox   {min-height:31.25rem; padding-top:3.125rem;}  


  /* #newBox ____________________________________________  */
  #newBox { height:100vh; min-height:37.5rem;
  padding-top: 5rem; padding-bottom:5.625rem;}

  /* #subBox ____________________________________________  */
#subBox     {height: 100vh; min-height:31.25rem;}


/* #bestBox ____________________________________________  */
#bestBox { height:auto; min-height: 43.75rem; padding:2.5rem; padding-bottom:8.75rem; }

/* #galleryBox ____________________________________________  */
#galleryBox {height:auto; min-height: 46.875rem; 
  padding-top: 1.5rem;  padding-bottom:8.75rem; 
}

/* #sponsorBox ____________________________________________  */
#sponsorBox { height: 25rem; }

/* #footBox ____________________________________________  */
#footBox    {height: 26.5625rem; }
#footBox > * {display: none;}

} /* @media screen and (max-width:599px) */
