/* main_page/b_smartphone.css */

@media screen and (max-width:599px) {
  /* 기준 디바이스 크기 : 320px */
#wrap {min-height:100vh;}

/* #headBox __________________________________________ */
  #headBox { height : 3.125rem; padding:0.5rem 0.625rem;}
  .area_head {height: 100%;}
  #logo {float:none; position: absolute; top: 0.5rem; left:50%;
    width:3.75rem; height: 2.1875rem;
    transform:translateX(-50%); }

  .nav_btn {display:block; position:relative; z-index: 100; width: 2.1875rem; height: 2.1875rem;}

  #navBox {
    display: none;
    position: absolute; top:0; left:0; width:100%;height:100vh; z-index:10;
    padding:0.5rem 1.875rem; box-sizing: border-box;
    background-image: url("../../img/main_page_re/mobile/b_navBox/smartophone_nav_origin.png");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
  }
  #navBox:before,
  #navBox::before {
    content: ""; display: block; position: absolute; top:0; left:0; width: 100%;height: 100%; z-index:-1;
    background-color: rgba(26, 93, 84, 1); opacity: 0.85;
  }

  #navBox h2 {
    position:relative; z-index:100;
    width:3.75rem; height:2.1875rem;
    margin:auto; margin-bottom:1.875rem;
    background-image: url("../../img/main_page_re/mobile/b_navBox/logo_white.png");
    background-image: url("../../img/main_page_re/mobile/b_navBox/logo_white.svg");
    background-repeat:no-repeat; background-position: 50% 50%;
    background-size: contain;
  }
  .unb, .gnb {float:none; width: 100%; min-width:auto; height:auto;}
  .unb {width:80%; margin:auto; margin-bottom:16px; border-bottom:1px solid #fff;}
  .unb li { float:left; width: calc(50% - 10px) ; height: auto; 
    margin:0; margin-bottom:0.625rem ; }
  .unb a {height: 1.875rem; line-height: 1.875rem; font-size:1rem;}
  .unb li:nth-child(1) { float:left; }
  .unb li:nth-child(2n) { float:right; }

  .gnb ul {float:none; width: 100%; height:auto;}
  .gnb li {float:none; width:100%; height: 3.125rem; margin-bottom:0.9375rem; padding:0;}

  .unb a {color:#fff;}
  .gnb a {display: block; width: 100%; height: 100%; 
    padding:0; border:0.0625rem solid #fff; border-radius: 0.3125rem;
    color:#fff; line-height: 3.125rem; 
    font-size:18px; font-weight:400;
  } 

  /* #slideBox __________________________________________ */
#slideBox   {min-height:31.25rem; padding-top:3.125rem;}  


  /* #newBox ____________________________________________  */
  #newBox {
    height:100vh; min-height:37.5rem; max-height: 37.5rem;
  padding-top: 5rem; padding-bottom:5.625rem;
  }

  .area_title{
    width: 100%; height:auto; text-align: center;  font-size:1.75rem; }

  
  .area_indicator {bottom:4.375rem;}

  .newBox_area {width:50.875rem; height: 20rem;}
  .newBox_area li {width: 16.25rem; margin-left:1.0625rem;}


  /* #subBox ____________________________________________  */
#subBox {height: 100vh; min-height:31.25rem; background-color: #fff;}
#subBox > .area { width: 100%; min-width: auto; height: 100%;}
.sub_area {z-index: 100; left:50%; bottom:25%; transform:translateX(-50%); width: 90%;}

.sub_area p {min-height:5rem; margin-bottom: 2.1875rem;}
.sub_area_btn {height: auto;}
#subBox .sub_area_btn a {display:block; float: none;  margin-bottom: 0.875rem;}
#subBox .sub_area_btn a:nth-child(1) {width: 100%; height: 3.75rem; line-height: 3.75rem; font-weight: 700;}
#subBox .sub_area_btn a:nth-child(2) {width: 100%; height: 2.8125rem; }
.sub_area_img {
  width: 100%; height: 100%;
  background-image: url("../../img/main_page_re/mobile/e_subBox/sub_img.png");
  opacity: 0.3;
  }


/* #bestBox ____________________________________________  */
#bestBox { height:auto; min-height: 43.75rem; padding:2.5rem; padding-bottom:8.75rem; }

/* #galleryBox ____________________________________________  */
#galleryBox {height:auto; min-height: 46.875rem; 
  padding-top: 1.5rem;  padding-bottom:8.75rem; 
}

/* #sponsorBox ____________________________________________  */
#sponsorBox { height: 25rem; }

/* #footBox ____________________________________________  */
#footBox    {height: 26.5625rem; }
#footBox > * {display: none;}

} /* @media screen and (max-width:599px) */
