/* main_page/c_tablet.css */

@media screen and (min-width:600px) and (max-width:1023px) {
  /* 기준 디바이스 크기 : 600px */
  
/* #headBox __________________________________________ */
#headBox { height : 3.125rem;padding:0.5rem 0.625rem; }
.area_head {height: 100%;}
#logo {width:60px; height: 35px;}
.nav_btn {display:block;position:relative; z-index: 100; float:right; width: 35px;height: 35px;}

#navBox {
  display: none;
  position: absolute; top:0; left:0; width:100%; height:100vh; z-index:10;
  padding:8px 80px; box-sizing: border-box;
  background-image: url("../../img/main_page_re/mobile/b_navBox/tablet_nav_origin.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;
}
  #navBox:before,
  #navBox::before {
    content: ""; display: block; position: absolute; top:0; left:0; width: 100%;height: 100%; z-index:-1;
    /* background-color:rgba(131, 76, 51, 1); */
    background-image: linear-gradient(rgba(131, 76, 51, 1) 50%, transparent);
    opacity: 0.9;
  }

#navBox h2 {
  position:relative; z-index:100;
  width:60px; height:35px; margin-bottom:30px;
  background-image: url("../../img/main_page_re/mobile/b_navBox/logo_white.png");
  background-image: url("../../img/main_page_re/mobile/b_navBox/logo_white.svg");
  background-repeat:no-repeat; background-position: 50% 50%;
}
.unb, .gnb {float:none; width: 100%; min-width:auto; height:auto; }
.unb {margin-bottom:16px; padding-bottom:8px; border-bottom:1px solid #fff;}
.unb li { float:left;
  width: calc(100% / 4) ; height: 20px; 
  margin:0; margin-bottom:0.625rem; padding: 0 5px; box-sizing: border-box;}
  .unb a {color:#fff; font-size:1rem;}

.gnb ul {float:none; width: 100%; height:auto;}
.gnb li {width:32%; height: 60px; margin-right:2%; margin-bottom:20px; padding:0; border:0; }

.gnb li:nth-child(3n) {margin-right:0;}
.gnb a {
  display:block; width: 100%; height: 100%;
  padding:0; border:1px solid #fff; border-radius: 5px;
  color:#fff; line-height:60px;
  font-size:18px; font-weight:400; } 



/* #slideBox __________________________________________ */
#slideBox   { min-height:25rem ; padding-top:3.125rem; }  

/* #newBox ____________________________________________  */
#newBox {
  height:100vh; min-height:34.375rem; max-height: 37.5rem;
  padding-top: 3.75rem; padding-bottom: 5.625rem;
}

.area_title{
  width: 100%; height:auto; 
  text-align: center; font-size:1.75rem; 
}

.area_indicator {bottom:4.375rem;}

.newBox_area {width:50.875rem; height: 20rem; margin-top:3.25rem;}
.newBox_area li {width: 16.25rem; margin-left:1.0625rem;}


/* #subBox ____________________________________________  */
#subBox { height: 37.5rem; background-color: #fff;}
#subBox > .area {width: 100%;min-width: auto; height: 100%;}


.sub_area {z-index: 100; left:50%; bottom:15%; transform:translateX(-50%); width: 500px;}

.sub_area_btn a:nth-child(1) {
  width: 250px;}

.sub_area_img {
  width: 100%; height: 100%;
  background-image: url("../../img/main_page_re/mobile/e_subBox/sub_img.png");
  opacity: 0.3;
  }

/* #bestBox ____________________________________________  */
#bestBox {height:100vh; min-height: 37.5rem;
padding:3.75rem 3.125rem; padding-bottom:5.9375rem; }


/* #galleryBox ____________________________________________  */
#galleryBox {height: 61.25rem; 
padding-top: 7.75rem;  padding-bottom:7.5rem; 
}
#galleryBox .area_content {width: 100%;}

/* #sponsorBox ____________________________________________  */
#sponsorBox {height: 18.75rem;}

/* #footBox ____________________________________________  */
#footBox { height: 26.5625rem; }
#footBox > * {display: none;}




} /* @media screen and (min-width:600px) and (max-width:1023px) */