/* main_page/d_laptop.css */


@media screen and (min-width:1024px) and (max-width:1439px) {
  /* 기준 디바이스 크기 : 1024px */
  
  body {background-color: #eef;}
  /* #wrap {} */

/* #headBox __________________________________________ */
#headBox {height : 6.25rem; padding:1.25rem 3.125rem 0.625rem}
#headBox > * {display: none;}


/* #slideBox __________________________________________ */
#slideBox   { min-height: 37.5rem; padding-top:6.25rem;}  

/* #newBox ____________________________________________  */
#newBox { height:43.75rem; padding-top : 4.0625rem; padding-bottom:4.375rem;
}

/* #subBox ____________________________________________  */
#subBox     {height: 21.875rem;
padding-top:10.5rem; padding-bottom:9.5rem; padding-left:2.5rem;}


/* #bestBox ____________________________________________  */
#bestBox { height: 43.75rem;
padding-top:10.9375rem; padding-bottom:9.0625rem;}

/* #galleryBox ____________________________________________  */
#galleryBox { height: 46.875rem; 
padding-top: 5rem; padding-bottom:8.125rem;
}

/* #sponsorBox ____________________________________________  */
#sponsorBox { height: 6.25rem;}

/* #footBox ____________________________________________  */
#footBox {height: 28.125rem; }

} /* @media screen and (min-width:1024px) and (max-width:1439px) */
