/* d_laptop.css */
/* -------------------------------- */
@supports (background-color: var(--color-red)) {
@media screen and (min-width:1440px) {
  /* 기준 디바이스 크기 : 1440px */
#wrap {
  width: 100%; min-width : 60rem; height: auto; 
  margin:auto;
}

#headBox {width: 100%;height: 5rem;background-color: #cacaca;}

#viewBox {width: 100%;height: 34.722222vw; min-height: 31.25rem; max-height:62.5rem; background-color: #fc7676;}

#contentBox {width: 100%; max-width: 80rem; height:auto; min-height: 37.5rem;margin:auto; background-color: #bcf88d;}

#supportBox {width: 100%; max-width: 80rem; height: 18.75rem; margin: auto; background-color: #5196ff;}

#footBox {width: 100%; height: 7.5rem;background-color: #cacaca;}

}/* @media screen and (min-width:1440px) */
}


/* rem 단위 : 상황에 따라서 가변성있게 내용을 수정하는 기능도 있음 */