/* c_menubox.css */

#wrap {width: 100%; height: auto; background-color: #fff;}

.menu_banner {width: 100%; height: 300px; padding-top:100px; margin-bottom:150px;
background-image: url("../../img/menu_page/title.png");
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;}

.menu_inner {width: 70%; height: 80%; margin: auto; padding-top:100px; box-sizing: border-box; }
.menu_inner h2 {font-size:40px; font-weight: 700; text-transform: capitalize; color:var(--primary_02);
margin-bottom:30px; }
.menu_inner p {font-weight: 500; color:var(--light_gray_03)}


.tab_box {width: 100%; height: auto;
  margin:auto; 
  background-color: #fff;}

.tab_title {width: 800px; height: auto;
  padding:20px 0; font-size: 0;
  margin:auto; margin-bottom: 100px;}

.tab_title ul li {float:left; padding:0 20px; box-sizing: border-box; border-right:1px solid var(--light_gray_03);}
.tab_title ul li:last-of-type {border-right: 0px;}

.tab_title ul button {width: 100%; height:30px;
  margin:auto; text-align: center;
  font-size : 20px; color: var(--light_gray_03); font-weight: 700; 
  text-transform: capitalize; border-radius: 5px;
   }



 .tab_title ul li.action button {background-color: var(--primary_01); color:var(--white)}
 .tab_title ul button:hover {
  transform: translate(-0.1rem, -0.1rem);
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.3);
 }

  /* --------------------------------------- */

  .card_area {width: 1090px; height:auto; margin:25px auto;}
  .card_area ul {width: 100%;height:auto; margin:auto; margin-bottom:100px;}
  .card_area li { 
    float:left; width: 250px; height: auto; 
    margin-right:30px; margin-bottom:40px; border:1px solid #757575; border-radius:3px; padding:10px;
    box-sizing: border-box;
  }
  .card_area li:nth-child(4n) {margin-right:0;}
  
  .card_area li a {display: block; width: 100%; height: 100%; }
  .card_area .card_img { 
    width: 100%; height: 220px; 
    margin-bottom:10px;
    border-radius:3px; 
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .card_area dl {
    position:relative;
    width: 100%; height:170px; 
  }
  .card_title {
    width: 100%; height: 30px;
    margin-bottom: 10px; border-bottom:2px solid var(--deep_gray);
    font-size: 22px; font-weight: 700; text-transform :capitalize; line-height: 30px; color:#171717;
  }
  .card_content {
    width: 100%; height: auto; margin-bottom:10px;
    color:#777; font-size:12px;
    line-height:1.5;
  }

  .card_link {
    position: absolute; left:50%; bottom:0.5rem;
    width:95%; height:2.5rem;
    transform: translateX(-50%);
  }

  .card_link a {
    display: block; width: 100%; height: 100%;
    border-radius:0.15rem;
    text-align: center; line-height:2.5rem;
    color:#fff; font-weight: 700;
    background-color:#079;
  }

  .card_link a:hover {
    transform: translate(-0.1rem, -0.1rem);
    box-shadow:0.3rem 0.3rem 0.3rem rgba(0,0,0,0.3);
  }

  .card_link a:focus {
  background-color: #057;
  font-size: 1.1rem;
  transform: translate(0,0);
  box-shadow:inset 0.3rem 0.3rem 0.3rem rgba(0, 51, 70, 1);
  }