/* c_menubox.css */

#wrap {width: 100%; height: 1000px; background-color: #fff;}

.menu_box {width: 100%; height: 500px;
  margin:auto; margin-top:200px; 
  background-color: #eee;}
.button_list { width: 80%; margin:auto; border-bottom: 2px solid var(--light_gray_02);}
.menu_btns {width: 750px; height: auto;
  padding:20px 0;
  margin:auto;}
.menu_btns > button {width: auto; height:30px;
  padding: 0 20px; 
  margin:auto; 
  font-size : 20px; color: var(--light_gray_03); font-weight: 700; 
  text-transform: capitalize;
  border-right:1px solid var(--light_gray_03); }

  .menu_btns > button span {
    padding: 5px 20px; box-sizing: border-box;
    border-radius: 5px;} 
  .menu_btns > button:last-of-type {border-right: 0px;}

  .menu_btns > button:focus span {background-color: var(--primary_01); color:var(--white)}