/* c_menubox.css */

#wrap {width: 100%; height: auto; background-color: #fff;}

.menu_banner {width: 100%; height: 300px; margin-bottom:150px;
background-color:rgb(210, 253, 253);}
.menu_inner {width: 70%; height: 80%; margin: auto; padding-top:120px; box-sizing: border-box; }
.menu_inner h2 {font-size:40px; font-weight: 700; text-transform: capitalize; color:var(--primary_02);
margin-bottom:30px; }
.menu_inner p {font-weight: 500; color:var(--light_gray_03)}


.menu_box {width: 100%; height: auto;
  margin:auto; 
  background-color: #fff;}

.btns_area {width: 750px; height: auto;
  padding:20px 0; font-size: 0;
  margin:auto;}
  
.btns_area > button {width: auto; height:30px;
  padding: 0 20px; 
  margin:auto; 
  font-size : 20px; color: var(--light_gray_03); font-weight: 700; 
  text-transform: capitalize;
  border-right:1px solid var(--light_gray_03); }

  .btns_area > button span {
    padding: 5px 20px; box-sizing: border-box;
    border-radius: 5px;} 
  .btns_area > button:last-of-type {border-right: 0px;}

 .btns_area .action span {background-color: var(--primary_01); color:var(--white)}

  /* --------------------------------------- */

  .card_area {width: 1090px; height:auto; margin:25px auto;}
  .card_area ul {width: 100%;height:auto; margin:auto; margin-bottom:100px;}
  .card_area li { 
    float:left; width: 250px; height: auto; 
    margin-right:30px; margin-bottom:40px; border:1px solid #757575; border-radius:3px; padding:10px;
    box-sizing: border-box;
  }
  .card_area li:nth-child(4n) {margin-right:0;}
  
  .card_area li a {display: block; width: 100%; height: 100%; }
  .card_area .card_img { 
    width: 100%; height: 220px; 
    margin-bottom:10px;
    border-radius:3px; 
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .card_area dl {
    width: 100%; height:120px; 
  }
  .card_title {
    width: 100%; height: 30px;
    margin-bottom: 10px; border-bottom:2px solid var(--deep_gray);
    font-size: 22px; font-weight: 700; text-transform :capitalize; line-height: 30px; color:#171717;
  }
  .card_content {
    width: 100%; height: auto; margin-bottom:10px;
    color:#777; font-size:12px;
    line-height:1.5;
  }
  .card_option {margin-bottom: 20px;}
  .card_option span {
    padding:2px 6px; margin-right:6px;
    border:1px solid var(--light_gray_02); border-radius: 3px;
    font-size: 12px; font-weight:700; color: var(--light_gray_02);}