@charset "UTF-8";
/* a_tea_list.css */

@import url("./list_common.css");


.card_columns li .card_img { background-image: url("../../img/main_page/gallery_main_01.png");}
.card_columns li:nth-child(1) .card_img { background-image: url("../../img/menu_page/tea/01.png");}
.card_columns li:nth-child(2) .card_img { background-image: url("../../img/menu_page/tea/02.png");}
.card_columns li:nth-child(3) .card_img { background-image: url("../../img/menu_page/tea/03.png");}
.card_columns li:nth-child(4) .card_img { background-image: url("../../img/menu_page/tea/04.png");}
.card_columns li:nth-child(5) .card_img { background-image: url("../../img/menu_page/tea/05.png");}
.card_columns li:nth-child(6) .card_img { background-image: url("../../img/menu_page/tea/06.png");}
.card_columns li:nth-child(7) .card_img { background-image: url("../../img/menu_page/tea/07.png");}
.card_columns li:nth-child(8) .card_img { background-image: url("../../img/menu_page/tea/08.png");}
.card_columns li:nth-child(9) .card_img { background-image: url("../../img/menu_page/tea/09.png");}
.card_columns li:nth-child(10) .card_img { background-image: url("../../img/menu_page/tea/10.png");}
.card_columns li:nth-child(11) .card_img { background-image: url("../../img/menu_page/tea/11.png");}
.card_columns li:nth-child(12) .card_img { background-image: url("../../img/menu_page/tea/12.png");}
.card_columns li:nth-child(13) .card_img { background-image: url("../../img/menu_page/tea/13.png");}
.card_columns li:nth-child(14) .card_img { background-image: url("../../img/menu_page/tea/14.png");}