@charset "UTF-8";
/* e_theme.css */

@import url("./list_common.css");


.card_columns li .card_img { background-image: url("../../img/main_page/gallery_main_01.png");}
.card_columns li:nth-child(1) .card_img { background-image: url("../../img/menu_page/beverage/01.png");}
.card_columns li:nth-child(2) .card_img { background-image: url("../../img/menu_page/beverage/02.png");}
.card_columns li:nth-child(3) .card_img { background-image: url("../../img/menu_page/beverage/03.png");}
.card_columns li:nth-child(4) .card_img { background-image: url("../../img/menu_page/beverage/04.png");}
.card_columns li:nth-child(5) .card_img { background-image: url("../../img/menu_page/beverage/05.png");}
.card_columns li:nth-child(6) .card_img { background-image: url("../../img/menu_page/beverage/06.png");}
.card_columns li:nth-child(7) .card_img { background-image: url("../../img/menu_page/beverage/07.png");}
.card_columns li:nth-child(8) .card_img { background-image: url("../../img/menu_page/beverage/08.png");}

