@charset "UTF-8";
/* main.css */
/* reset.css _________________________________________________ */
body {margin:0;}


/* common.css _____________________________________________ */
.max_width_01 {width: 95%; min-width: 940px; max-width:1280px; 
  margin:auto;}
h1,h2,h3,h4,h5,h6 {margin:0;}
ul,ol,dl,li,dt,dd {margin: 0; padding:0;}
ul,ol,li {list-style:none;}

/* design----------------------------- */
#wrap {
  width:100%; min-width : 960px; 
  height:auto; min-height: 500px;
  margin:auto;
}
/* headbox------------------------------ */
#headBox {width:100%; height:auto;
  padding : 20px 50px 10px; box-sizing: border-box;
  background-color: #ccc;}

.area_head {
  width:100%; /* max-width : 1440px; */
  height:auto; 
  margin:auto;
}
.area_head::after {content: ""; display: block; width: 100%; height:0; clear:both;}
  #logo {float:left; width: 120px; height: 70px; background-color: #777;}
  #navBox {float:right; width:510px; height: 70px; background-color: #777;}


/* slidebox------------------------------ */
#slideBox {width:100%; height:600px;
  padding-top :100px; box-sizing: border-box;background-color: #aaa;}
  #adCon_01 {width : 780px; height:400px; 
    margin:auto;
    background-color: #fff;}



/* newBox------------------------------ */
#newBox {width:100%; height:700px; 
  padding-top:62px; box-sizing:border-box; background-color:#eee;}
  .area_title {width : 940px; height:70px; 
    margin : auto; 
    background-color: #ccc;}
  .area_content {width :940px ; height:370px ;
    margin : auto;
    margin-top:48px; margin-bottom: 50px;
    background-color: #ccc;}
  .area_indicator {width : 140px; height: 30px ;
  margin : auto; background-color: #ccc;}


/* subBox------------------------------ */
#subBox {width:100%; height:350px; 
  padding-top:50px; box-sizing:border-box; background-color: #ddd;}
  #subBox > .area { height:300px;
    margin:auto;
    background-color: #eee;}



/* bestBox------------------------------ */
#bestBox {width:100%; height:700px; 
  padding-top:175px; box-sizing:border-box;
  background-color:#aaa;}
  #bestBox > .area { height: 380px;
  background-color: #999;}



/* galleryBox------------------------------ */
#galleryBox {width:100%; height: 750px; 
  padding-top: 75px; box-sizing: border-box; background-color:#999 ;}
#galleryBox .area_title {background-color: #fff;}
#galleryBox .area_content {height: 420px; background-color: #777;}

/* sponserBox------------------------------ */
#sponserBox {width:100%; height:100px; 
  padding:10px 0; box-sizing: border-box;
  background-color: #777;}
.sponsor_area {
  height: 80px;
  background-color: #fff;
}



/* footerBox------------------------------ */
#footerBox {width:100%; height:450px; 
  padding-top: 68px;box-sizing: border-box;
  background-color:#555 ;}
.area_foot {
height: auto;
}

.info_logo{
  width: 120px;height: 70px;
  margin-bottom: 45px;
  background-color: #aaa;
}
.info_company{
  width: 100%; height: 135px;
  background-color: #aaa;
}

/* 코드 작성하는 순서_______________________________ */

/* .selector {
  content: "";

  display: block;
  
  position: static;
  float:left;
  
  width :100%; min-width:300px; max-width:900px;
  height:20px; min-height:10%; max-height:100%;
  
  margin: 0; padding:0;border:0; box-sizing: 1px solid #000;
  
  font-size: 10px; font-weight:400; color : #fff;
  
  
  background-color: #555; */

  /* effect : ; */
}